* {
    main-bg:            #0B0B0BE6;
    main-fg:            #FBFBFB;
    main-br:            #A1A1A1;
    main-ex:            #3A3A3A;
    select-bg:          #585858;
    select-fg:          #F4F4F4;
}
